<ion-header>
    <ion-toolbar>
        <ion-title>{{'reviews' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
    <div class="banner animate__animated animate__fadeInDown" style="--animate-duration: .45s;">
        <div class="doctor_details d-flex">
            <div class="img_box center_img" style="--animate-duration: .25s;">
                <img *ngIf="profileMe  && profileMe.user.image_url" data-src="{{profileMe.user.image_url}}"
                    class="crop_img">
                <img *ngIf="!profileMe || !profileMe.user.image_url" src="assets/images/empty_dp.png" class="crop_img">
            </div>
            <div *ngIf="profileMe  && profileMe.user" class="text_box">
                <h2 *ngIf="profileMe.name && profileMe.name.length">{{profileMe.name}}</h2>
                <h2 *ngIf="!(profileMe.name && profileMe.name.length)">{{profileMe.user.name}}</h2>

                <h3>{{'avg_ratings' | translate}}</h3>
                <h4 class="d-felx">{{rating.average_rating}}
                    <ion-icon class="zmdi zmdi-star ion-text-end"></ion-icon>
                </h4>
            </div>
        </div>

        <div *ngIf=" (reviews && reviews.length) && rating.summary && rating.summary.length == 5"
            class="graph_container">
            <h2>{{'ratings_overview' | translate}}</h2>
            <div class="graph_box d-flex animate__animated animate__fadeInUp">
                <h3 class="d-flex"><span class="ion-text-end">5</span>
                    <ion-icon class="zmdi zmdi-star ion-text-end end"></ion-icon>
                </h3>
                <div class="bar">
                    <div class="bar_active" [style.width]="rating.summary[4].percent+'%'"></div>
                </div>
                <h4 class="ion-text-end">{{rating.summary[4].total}}</h4>
            </div>
            <div class="graph_box d-flex animate__animated animate__fadeInUp">
                <h3 class="d-flex"><span class="ion-text-end">4</span>
                    <ion-icon class="zmdi zmdi-star ion-text-end end"></ion-icon>
                </h3>
                <div class="bar">
                    <div class="bar_active" [style.width]="rating.summary[3].percent+'%'"></div>
                </div>
                <h4 class="ion-text-end">{{rating.summary[3].total}}</h4>
            </div>
            <div class="graph_box d-flex animate__animated animate__fadeInUp">
                <h3 class="d-flex"><span class="ion-text-end">3</span>
                    <ion-icon class="zmdi zmdi-star ion-text-end end"></ion-icon>
                </h3>
                <div class="bar">
                    <div class="bar_active" [style.width]="rating.summary[2].percent+'%'"></div>
                </div>
                <h4 class="ion-text-end">{{rating.summary[2].total}}</h4>
            </div>
            <div class="graph_box d-flex animate__animated animate__fadeInUp">
                <h3 class="d-flex"><span class="ion-text-end">2</span>
                    <ion-icon class="zmdi zmdi-star ion-text-end end"></ion-icon>
                </h3>
                <div class="bar">
                    <div class="bar_active" [style.width]="rating.summary[1].percent+'%'"></div>
                </div>
                <h4 class="ion-text-end">{{rating.summary[1].total}}</h4>
            </div>
            <div class="graph_box d-flex animate__animated animate__fadeInUp">
                <h3 class="d-flex"><span class="ion-text-end">1</span>
                    <ion-icon class="zmdi zmdi-star ion-text-end end"></ion-icon>
                </h3>
                <div class="bar">
                    <div class="bar_active" [style.width]="rating.summary[0].percent+'%'"></div>
                </div>
                <h4 class="ion-text-end">{{rating.summary[0].total}}</h4>
            </div>
        </div>
        <!-- <div class="people_rate">
            <ion-row>
                <ion-col size="6">
                    <h2>{{'total_people_rated' | translate}}</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-assignment-account"></ion-icon>
                        78
                    </h3>
                </ion-col>

                <ion-col size="6">
                    <h2>{{'appointment_booked' | translate}}</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-assignment-check"></ion-icon>
                        129
                    </h3>
                </ion-col>
            </ion-row>
        </div> -->
    </div>

    <div class="empty-view" *ngIf="(!reviews || !reviews.length)">
        <div style="text-align:center;margin-top: 200px;">
            <img src="assets/images/empty_reviews.png" alt="no offers" style="display: block; margin: 0 auto;">
            <ion-spinner *ngIf="isLoading" name="crescent" style="display: block; margin: 0 auto;">
            </ion-spinner>
            <span style="color:#9E9E9E; font-weight:bold;">
                {{ (isLoading ? 'loading' : 'empty_reviews') | translate}}
            </span>
        </div>
    </div>

    <ion-list lines="none">
        <h1 class="animate__animated animate__fadeInUp" *ngIf="reviews && reviews.length">{{'recent_reviews' |
            translate}}</h1>
        <ion-item class="animate__animated animate__fadeInUp" *ngFor="let review of reviews">
            <div class="item_inner">
                <div class="reviewer_details d-flex">
                    <div class="img_box center_img">
                        <img *ngIf="review.user && review.user.image_url" data-src="{{review.user.image_url}}"
                            class="crop_img">
                        <img *ngIf="!review.user || !review.user.image_url" src="assets/images/empty_dp.png"
                            class="crop_img">
                    </div>
                    <div class="text_box">
                        <h2 class="d-flex">
                            <span class="reviewer_name">{{review.user.name}}</span>
                            <span class="end">
                                {{review.rating}}
                                &nbsp;
                                <ion-icon [ngClass]="review.rating>=1 ? 'zmdi zmdi-star active' : 'zmdi zmdi-star'">
                                </ion-icon>
                                <ion-icon [ngClass]="review.rating>=2 ? 'zmdi zmdi-star active' : 'zmdi zmdi-star'">
                                </ion-icon>
                                <ion-icon [ngClass]="review.rating>=3 ? 'zmdi zmdi-star active' : 'zmdi zmdi-star'">
                                </ion-icon>
                                <ion-icon [ngClass]="review.rating>=4 ? 'zmdi zmdi-star active' : 'zmdi zmdi-star'">
                                </ion-icon>
                                <ion-icon [ngClass]="review.rating>=5 ? 'zmdi zmdi-star active' : 'zmdi zmdi-star'">
                                </ion-icon>
                            </span>
                        </h2>

                        <h3 class="d-flex">
                            <!-- {{"visited_for" | translate}} <strong>Cold Fever</strong> -->

                            <span class="end">{{review.created_at}}</span>
                        </h3>
                    </div>
                </div>
                <p>{{review.review}}</p>
            </div>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfiniteReviews($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'loading' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>