<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button class="animate__animated animate__fadeInUp" tab="appointments">
            <ion-icon class="zmdi zmdi-calendar-check"></ion-icon>
            <ion-label>{{'appts' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button class="animate__animated animate__fadeInUp" tab="feedback">
            <ion-icon class="zmdi zmdi-thumb-up-down"></ion-icon>
            <ion-label>{{'reviews' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button class="animate__animated animate__fadeInUp" tab="account">
            <ion-icon class="zmdi zmdi-account"></ion-icon>
            <ion-label>{{'account' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>